<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5" id="contactsWrapper"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5" id="contactsFormWrapper"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 bg-warning" id="contactsFormWarning">....</div>
            </div>
        </div>
    </section>
</div>